h1 {
  font-size: 7vw;
  color: #b6f0ef;
}

p {
  font-size: 2vw;
}

button {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-size: 2vw;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

body {
  background-color: #fffa9c;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.centered {
  text-align: center;
}

.margin {
  margin-left: 5vw;
  margin-right: 5vw;
}
